.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  background-color: #000000;
  background-image: linear-gradient(45deg, #000000, #000000);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.main-container-text {
  font-family: "Lucida Console", sans-serif;
}
.form-box-one {
  max-width: 400px;
  margin: 150px auto;
  padding: 0px;
  border-radius: 8px;


}

.text {
  text-align: centre;
  font-style: italic;
  font-size: 140 px;
  color: darkturquoise;


}

.form-box {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 300px;
  margin: 10px auto;
  padding: 30px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 5px 5px 0 rgba(255, 255, 255, 0.24);


}


.form-box label {
  display: block;
  /* cursor: progress; */
  margin-bottom: 10px;
  /* TODO: removed the padded for alignment. Maybe instead of adding padding, we can make the label and the radio inline to prevent alignment complications */
  /* padding-left: 55px; */
  position: relative;

}

.form-box label .circle {
  height: 25px;
  width: 25px;
  border: 4px solid #000000;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  Left: 0;
  top: 12px;
  transition: border-color .2s ease;

}


.form-box label span {
  font-size: 25px;
  color: #000000;
  display: inline-block;
  transition: color .2s ease;
  text-align: center;

}

.form-box label input {
  display: none;

}

.form-box label input:checked+.circle {
  border-color: rgb(25, 133, 33);


}

.form-box label input:checked+.circle+span {
  color: rgb(25, 133, 33);


}

.paragraph {
  color: rgb(255, 255, 255);
  font-size: 15pt;
  line-height: 15pt;
  text-align: center;
  /* aligned text */
}


.header {
  padding: 30px;
  color: rgb(125, 244, 133);
  font-size: 30px;
  text-align: left;


}

h3 {
  text-align: center;
  border: grey;
}



.radio {
  display: none;
}

.paragraph {
  color: white;
}

input[type=text] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=submit] {
  background: rgb(125, 244, 133);
  ;
  color: black;
  border-style: outset;
  border-color: rgb(125, 244, 133);
  ;
  height: 50px;
  width: 100px;
  font: bold15px arial, sans-serif;
  text-shadow: none;
}

li {
  list-style-type: none;
}

#tagBtn {
  text-transform: uppercase;
  outline: 0;
  background-color: #000000;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#tagBtn:hover {
  text-transform: uppercase;
  outline: 0;
  background-color: #000000;
  background-image: linear-gradient(45deg, #19e9df, #2fe77b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}