

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  background-color: #000000;
  background-image: linear-gradient(45deg, #000000, #000000);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
  font-family: "Lucida Console", sans-serif;
}

.form-box-one {
  max-width: 400px;
  margin: 150px auto;
  padding: 0px;
  border-radius: 8px;
}

.text {
  text-align: centre;
  font-style: italic;
  font-size: 140 px;
  color: darkturquoise;


}

.form-box {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  max-width: 370px;
  margin: 10px auto 0px;
  padding: 5px 30px 30px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 5px 5px 0 rgba(255, 255, 255, 0.24);
}

.form-box-static {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  max-width: 370px;
  height: 220px;
  overflow-y: scroll;
  padding-right: 15px;

  margin: 10px auto 10px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 5px 5px 0 rgba(255, 255, 255, 0.24);
}

.search-box {
  max-width: 370px;
  margin: 0px auto;
  border-radius: 20px 20px 0 0;
  padding: 0;
  border: 0px;
}

.form-box label {
  display: block;
  /* cursor: progress; */
  margin-bottom: 10px;
  /* TODO: removed the padded for alignment. Maybe instead of adding padding, we can make the label and the radio inline to prevent alignment complications */
  /* padding-left: 55px; */
  position: relative;

}

.form-box label .circle {
  height: 25px;
  width: 25px;
  border: 4px solid #000000;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  Left: 0;
  top: 12px;
  transition: border-color .2s ease;

}


.form-box label span {
  font-size: 25px;
  color: #000000;
  display: inline-block;
  transition: color .2s ease;
  text-align: center;

}

.form-box label input {
  display: none;

}

.form-box label input:checked+.circle {
  border-color: rgb(25, 133, 33);


}

.form-box label input:checked+.circle+span {
  color: rgb(25, 133, 33);


}


h3 {
  text-align: center;
  border: grey;
}



.radio {
  display: none;
}

.paragraph {
  color: white;
}

input[type=text] {
  font-family: "Lucida Console", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type=submit] {
  background: rgb(125, 244, 133);
  ;
  color: black;
  border-style: outset;
  border-color: rgb(125, 244, 133);
  ;
  height: 50px;
  width: 100px;
  font: bold15px arial, sans-serif;
  text-shadow: none;
}

li {
  list-style-type: none;
}

#tagBtn {
  text-transform: uppercase;
  outline: 0;
  background-color: #000000;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.search-box{
  box-shadow: none;
}
#tagBtn:hover {
  background-image: linear-gradient(45deg, #19e9df, #2fe77b);
}
#tagBtn:disabled {
  background-image: linear-gradient(45deg, #ff0000, #ff0000);
}

.styleInfo  {
  padding-right:'10px'
}


.container {
  padding-top: 30px;
  width: 300px;
  margin: auto;
}

.input {
  padding: 5px 15px;
  width: 300px;
}

.user-list {
  margin-top: 30px;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: white;
  color: #ffffff;
}

.btn-outline-primary, .btn-outline-primary:active {
  background-color: white !important;
  color:black !important;
  border-color: #000000 !important;

}

.btn-outline-primary:hover{
  background-image: linear-gradient(45deg, #19e9df, #2fe77b) !important;
  border-color: white !important;
  color:white !important;
  transition: color .2s ease;
  transition: background-image .2s ease;
  
}

.btn-primary:active, .btn-primary.active {
  background: #000000;
  box-shadow: none;
}

.Results_found{
  text-align: left;
  color: black;
  font-family: Lucida Console;
}
.form-control{
  border-color: rgba(126, 239, 104, 0.8) !important;
  box-shadow: linear-gradient(45deg, #328f8a, #08ac4b)!important;
  outline: 0 none !important;
}

.btn-check:checked +label{

  border-color: black !important;
  color: white !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px black !important;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b) !important;
  

}

/* TODO: fix for windows */

/* .form-box-static::-webkit-scrollbar {
  width: 10px;
  padding-left: 15%;
}

.form-box-static::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

.form-box-static::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

.form-box-static::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.form-box-static::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
} */

.form-box-static::-webkit-scrollbar {
  background-color: #fff;
  width: 16px
}

/* background of the scrollbar except button or resizer */
.form-box-static::-webkit-scrollbar-track {
  background-color: #fff
}

.form-box-static::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4
  
}


/* scrollbar itself */
.form-box-static::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff
}

.form-box-static::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.form-box-static::-webkit-scrollbar-button {
  display: none
}
